<div class="chat-wrapper">
    <div class="chat-window">
        <div class="chat-header-wrapper">
            <div class="chat-window-name">Chat</div>
            <div class="chat-control-buttons-wrapper">
                <div class="chat-control-button chat-collapse"></div>
                <div class="chat-control-button chat-expand"></div>
                <div ng-click="closeChat()" class="chat-control-button chat-close"></div>
            </div>
        </div>
        <div class="chat-main-wrapper">
            <div class="chat-users-online-layout">
                <div class="chat-users-online-header">Online now:</div>
                <div class="chat-users-online-list">
                    <online-chat-user ng-class="{'current-user': user === currentUsername}"
                                      ng-repeat="user in onlineUsers"></online-chat-user>
                </div>
            </div>
            <div class="chat-messages-layout">
                <div class="chat-messages-wrapper">
                    <chat-message ng-repeat="message in chatMessages"
                                  ng-class="{'current-user-message': message.usernameFrom === currentUsername}">
                    </chat-message>
                </div>
                <div class="chat-type-wrapper">
                    <textarea
                            data-chat-submit
                            placeholder="type message here"
                            class="chat-type-area"
                            cols="30"
                            rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>