<div class="welcome-wrapper">
    <div class="welcome-circle" ng-class="{'username-check-pending':usernameCheckPending}"></div>
    <div class="welcome-name">Hello, {{username}}!</div>
    <div class="welcome-message">Please set username to enter chat:</div>
    <form name="userForm" novalidate ng-submit="submitUsername(this)">
        <div class="welcome-username-row">
            <input placeholder="Username"
                   data-username-checker
                   ng-model="username" class="welcome-input-name"
                   type="text">
            <div class="welcome-input-status"></div>
        </div>
        <span ng-show="errors.usernameError" class="welcome-username-error">{{errors.usernameError}}</span>
        <input class="welcome-submit-username" type="submit">
    </form>
</div>