<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <title>Chat on sockets</title>
    <base href="/">
</head>
<body ng-app="chatApp">
    <div ng-view></div>
</body>
</html>