<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/vendor.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.gif" type="image/gif">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="/js/main.js"></script>
    <title>Chat on sockets</title>
    <base href="/">
</head>
<body ng-app="chatApp">
<div ng-view></div>
</body>
</html>