@import 'animations.styl'

$WELCOME_ROW_SIDE_PADDING = 30px;
$WELCOME_ROW_TOP_PADDING = 20px;

body
  min-width: 320px
  background: url(/images/mainBackground.jpg) no-repeat center center black;

  .welcome-wrapper
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    background: rgba(42, 20, 32, 1);
    background: -moz-linear-gradient(left, rgba(42, 20, 32, 1) 0%, rgba(91, 46, 58, 0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42, 20, 32, 1)), color-stop(100%, rgba(91, 46, 58, 0.9)));
    background: -webkit-linear-gradient(left, rgba(42, 20, 32, 1) 0%, rgba(91, 46, 58, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(42, 20, 32, 1) 0%, rgba(91, 46, 58, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(42, 20, 32, 1) 0%, rgba(91, 46, 58, 0.9) 100%);
    background: linear-gradient(to right, rgba(42, 20, 32, 1) 0%, rgba(91, 46, 58, 0.9) 100%);
    border-radius: 20px;
    border: 1px solid #361D29;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;

    & > div
      height: 30px;
      line-height: 30px;
      color: white;
      padding: 0 50px 0 30px;
      margin-top: 20px;

    .welcome-circle
      position: absolute;
      top: $WELCOME_ROW_TOP_PADDING;
      right: 20px;
      background: url("/images/ubuntuCircle.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      padding: 0;
      margin: 0;

    .welcome-circle.username-check-pending
      animation: moveAround;
      animation-delay: 0s;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

    .welcome-username-error
      margin: 5px $WELCOME_ROW_SIDE_PADDING;
      color: red;
      font-size: 17px;
      text-transform: uppercase;

    form[name="userForm"] > [class*="-row"]
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 30px;
      margin-top: 10px;

      [class*="-status"]
        flex-direction: column;
        width: 60px;
        flex-grow: 0;
        background: url('/images/rightWrongIcons.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

      input.ng-invalid+[class*="-status"]
        background-position-x: -55px;

      input.ng-valid+[class*="-status"]
        background-position-x: 5px;

    .welcome-input-name
      padding: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      background: #200F19;
      color: white;
      border: 1px solid #937F86;
      border-radius: 5px;
      flex-grow: 1;
      width: 70%;

    /:focus {
      outline: none;
    }

    .welcome-submit-username
      display: none;