@import 'animations.styl'

$WELCOME_ROW_SIDE_PADDING = 30px;
$WELCOME_ROW_TOP_BOTTOM_PADDING = 20px;

body
  min-width: 320px
  background: url(/images/mainBackground.jpg) no-repeat center center black;

  [ng-view]{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .welcome-wrapper
    position: relative;
    background: #2a1420;
    background: -webkit-gradient(left top, right top, color-stop(0%, #2a1420), color-stop(100%, rgba(91,46,58,0.9)));
    background: -webkit-linear-gradient(left, #2a1420 0%, rgba(91,46,58,0.9) 100%);
    background: linear-gradient(to right, #2a1420 0%, rgba(91,46,58,0.9) 100%);
    border-radius: 20px;
    border: 1px solid #361d29;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;

    & > div
      height: 30px;
      line-height: 30px;
      color: white;
      padding: 0 50px 0 30px;
      margin-top: 20px;

    .welcome-circle
      position: absolute;
      top: $WELCOME_ROW_TOP_BOTTOM_PADDING;
      right: 20px;
      background: url("/images/ubuntuCircle.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      padding: 0;
      margin: 0;

    .welcome-circle.username-check-pending
      animation: moveAround;
      animation-delay: 0s;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

    .welcome-username-error
      margin: 5px $WELCOME_ROW_SIDE_PADDING 0;
      color: orangered;
      font-size: 17px;
      text-transform: uppercase;

    form[name="userForm"]
      margin-bottom: $WELCOME_ROW_TOP_BOTTOM_PADDING

    form[name="userForm"] > [class*="-row"]
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px 0 0 30px;

      [class*="-status"]
        flex-direction: column;
        width: 60px;
        flex-grow: 0;
        background: url('/images/rightWrongIcons.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

      input.ng-invalid+[class*="-status"]
        background-position-x: -55px;

      input.ng-valid+[class*="-status"]
        background-position-x: 5px;

    .welcome-input-name
      padding: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      background: #200F19;
      color: white;
      border: 1px solid #937F86;
      border-radius: 5px;
      flex-grow: 1;
      width: 70%;

      &:focus {
        outline: none;
      }

    .welcome-submit-username
      display: none;